*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.users{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.user{
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(10, 9, 9);
    color: #fff;
}

button{
    border: none;
    padding: 5px 12px;
    color: #000;
    background-color: aquamarine;
    border-radius: 5px;
    margin-top: 10px;
}